<!DOCTYPE html>
<html><head>
    <title>Marko Goluban</title>
    <!-- <meta content="BJ-AxCSPNC8koVmBDKh5DbCcxjXmAU56jBf3Hsxqbuw" name="google-site-verification"> -->
    <link href="style.css" media="screen" rel="stylesheet" type="text/css">
<!--     <link rel="shortcut icon" href="http://ianenders.com/favicon.ico?v=1" type="image/x-icon"> --> 
<!--     <link rel="icon" href="http://ianenders.com/favicon.ico?v=1" type="image/x-icon"> -->    
<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
    <!-- <script type="text/javascript" async="" src="Ian%20Enders_files/ga.js"></script><script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8770304-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> -->
  </head>
  <body>
    <div class="content">
      <h1>Marko Goluban</h1>
      <p>I lived in Zabok.</p>
      <p>I moved to Zagreb where I now live.</p>
      <p>I love swimming and swim weekly for miles.</p>
      <p>I like basketball and I used to play with my buddies</a>.</p>
      <p>I do not anymore, but it's still cool.</p>
      <p>I have a beautiful <a href="https://www.youtube.com/channel/UCYVthMoQI6x4N3yoseSdQuw" target="_blank">wife</a>, we got <a href="MrsGoluban.html" target="_blank">married</a> recently.</p>
      <p>I enjoy nature with my wife, from mountains to the sea and we can play badminton whole day long.
      <p>I write <a href="https://github.com/MaGo1981" target="_blank">code</a> and it gets me into flow. It is one of my passions!</p>
      <p>I aspire to turn profesional as a developer.</p>
      <p>I am working in sales with some awesome people right now.</p>
      <p>I have a more detailed <a href="https://www.linkedin.com/in/marko-g-443012121/">resume</a> if you're into that sort of thing.</p>
    </div>
  

</body></html>