<!DOCTYPE html>
<html><head>
  <header style="display: inline">
<!--       <style>
        @media print {table #content td, th {display: none;} }
      </style> 
    <table>
      <thead>
        <tr>
          <th colspan="2"> 
            <a href="index.html" target="_blank">Home</a><th>
          <th colspan="4"> 
            <a href="Resume.html" target="_blank">Resume</a><th>
        </tr>
      </thead>

    </table>  --> 
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Swimming</button>
      <button onclick="location.href = 'Resume.html';" type="button" class="btn btn-secondary">Resume</button>
      <button onclick="location.href = 'index.html';" type="button" class="btn btn-secondary">Home</button>
    </div>      
  </header>

    <title>Mrs Goluban</title>
    <!-- <meta content="BJ-AxCSPNC8koVmBDKh5DbCcxjXmAU56jBf3Hsxqbuw" name="google-site-verification"> -->
    <link href="/media/marko/Storage1/Courses Online/PYTHON/HarvardX: CS50W/project0/Static/CSS/style1.css" media="screen" rel="stylesheet" type="text/css">
<!--     <link rel="shortcut icon" href="http://ianenders.com/favicon.ico?v=1" type="image/x-icon"> --> 
<!--     <link rel="icon" href="http://ianenders.com/favicon.ico?v=1" type="image/x-icon"> -->    
<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
    <!-- <script type="text/javascript" async="" src="Ian%20Enders_files/ga.js"></script><script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8770304-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> -->
  </head>
  <body>
    <div id="content">
      <table>
          <thead>
              <tr>
                  <th colspan="2">Wedding</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Location:</td>
                  <td>Lastovo</td>
              </tr>
              <tr>
                  <td>Date:</td>
                  <td>20.06.2018.</td>
              </tr>
          </tbody>
      </table>
    </div>




  

</body></html>