<!DOCTYPE html>
<html>
  <head>
    <title>Swimming</title>
    <link rel="alternate stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://mago1981.github.io/CS50W/project0/Static/CSS/swimming.css" media="screen" rel="stylesheet" type="text/css">
  </head>

  <header style="display: inline">

    <div class="btn-group" role="group" aria-label="Basic example">
      <button onclick="location.href = 'https://mago1981.github.io/CS50W/project0/Templates/wedding.html';" type="button" class="btn btn-secondary">Wedding</button>
      <button onclick="location.href = 'https://mago1981.github.io/CS50W/project0/Templates/resume.html';" type="button" class="btn btn-secondary">Resume</button>
      <button onclick="location.href = 'https://mago1981.github.io/CS50W/project0/Templates/index.html';" type="button" class="btn btn-secondary">Home</button>
    </div> 

  </header>

    <body>
    <div id="content">

      <table>

          <thead>
              <tr>
                  <th colspan="2">Swimming</th>
              </tr>
          </thead>

      </table>
      <ul>

        <li>Location:               Zagreb</li>
        <li>Distance per week:      3 km</li>
        
      </ul>

    </div>
  

    </body></html>