body .navigation .central {
  background: url("/media/marko/Storage1/Courses Online/PYTHON/HarvardX: CS50W/project1/project1/static/pictures/books2.jpg") no-repeat top right;
  height: 1398px;
  width: 1600px;
  margin: 0 0 0 auto;
  padding-left: 50px; }


.navigation {
    background-color: #F3DC8A;
    height: 80px;
    width:70%;
    float: left;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
 
}
span {
    display:inline;


}
.firstWord .secoundWord {
    display:inline;
    padding-top: 0px;
}
.secoundWord {
    font-weight: bold;
}

.emailForm .passForm {
    display:inline;
    font-size: 10px;
}

.login {
    background-color: #F3DC8A; 
    font-size: 10px;
    height: 80px;
    width:30%;
    float: left;
    padding-top: 10px;
}

.input input {display:inline;
    width:200px;

}

.labelog label {display:inline;
    font-size: 15px;

}

.loginButton {float: center;
    width: 150px;
}


.central {height: 245px;
    width: 75%;
    background-color: #c3953c;
    float: left;

}

.register {height: 295px;
    width: 25%;
    background-color: #c39947;
    float: left;
    padding-top:0px;
}

.reguser .reguser2 {margin-top:10px;
    margin-left: 10px;
    width:300px;
}

.reguser .reguser3 {margin-top:10px;
    margin-left: 10px;
    width:300px;
}

.reguser .reguser4 {margin-top:10px;
    margin-left: 10px;
    width:150px;
}

.reguser .reguser1 {margin-top:20px;
    margin-left: 10px;
    width:300px;
}

.central {
    text-align: center;
    font-weight: bold;
    color: brown;
    font-size: 30px;
    padding-top: 50px;

