/*nesting*/
body {
  
  background: url("books2.jpg") no-repeat top center;
  color: black;
  margin-left: 40px;
  margin-right: 40px; }
  body a {
    color: blue;
    text-decoration: none; }

body a:hover {
  color: green; }



.review-text {
  height: 500px;
  width: 700px; }

.recommend-text {
  width: 700px; }

.myDisplayReview {
  height: 60px;
  width: 700px; }

.rew-bold {
  font-weight: bold; }

.list-rev {
  background-color: #c3953c;
  border-style: none;
  padding-bottom: 10px }


@media (max-width: 500px) {
  body {
    color: red; } }


