{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
        <li>ISBN number: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author}}</li>
        <li>Publication year: {{ book.pub_year}}</li>
    </ul>

    <br>
    <br>

    <h2>Review the book {{ book.title}} by {{ book.author}} </h2>

<div class="dropdown">
  <button class="dropbtn">Rating</button>
  <div class="dropdown-content">
    <a href="#">1/5</a>
    <a href="#">2/5</a>
    <a href="#">3/5</a>
    <a href="#">4/5</a>
    <a href="#">5/5</a>
  </div>
</div>
    <br>

    <form action="{{ url_for('book', book_id=book.id) }}" method="post">
      Who would you recomend it for:<br>
      <input type="text" name="recomend" class= 'recommend-text'>
      <br>
      Write a review:
      <br>
      <input class = "review-text" type="text" name="review">
      <div class="button">
        <input type="submit" value="Submit">
      </div>
      </form>
      
      <br>
      <br>
      <br>

      <br>
      <div class=rev-block>
        <div class='list-rev1'>    
          <h3>List of reviews:</h3>
        </div>

        <ul class='list-rev'>
          {% for review in reviews %}
            <li> 
              <div>
              <span class='rew-bold'>{{ db_name }}</span> rated it: <span class='rew-bold'>{{ review.rating }} out of 5</span>
              </div>
              <div>
              Recommends it for: <span class='rew-bold'>{{ review.recommend_to }}</span>
              </div>
              <div>
              Shelves: <span class='rew-bold'>{{ review.genre }}</span>
              </div>
              <div class="myDisplayReview">
              Review: {{ review.review }} 
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>

{% endblock %}
