<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" type="text/css" href="static/CSS/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/CSS/home.css">
		<title>Project1</title>
	</head>
	<body>
	    <div class="navigation">
	        <span class="firstWord">read</span><span class="secoundWord">books</span>  
	    </div>
            <div class="login">
    	        <span class="">
    	         <form action="" method="get" class="">
                  <div class="input">
                    <input type="text" name="name" id="name" required>
                    <input type="email" name="email" id="email" required>
                  </div>
                  <div class="labelog">
                    
                    <label for="name">Forgot it?</label>
                    <label for="name">Remember me</label>
                  </div>
                  <div >
                    <input class="loginButton" type="submit" value="Login">
                  </div>
                </form>   
    	        </span>
    	    </div>
	    <div class="central">
	        Find your next reading adventure.  
	    </div>
	    <div class="register">
	        <form class="reguser" action="{{ url_for('register1') }}" method="post">
                <input type="text" name="name1" value="Name" class="reguser1">
                <input type="text" name="email1" value="E-mail" class="reguser2">
                <input type="text" name="passw1" value="Password" class="reguser3">
              <input type="submit" value="Register" class="reguser4">
            </form>  
	    </div>
	</body>
</html>