{% extends "layout.html" %}

{% block heading %}
    My Book Review LOGIN PAGE
{% endblock %}

{% block body %}
    <p>
        Here you can become a registered user.
    </p>

    <form action="{{ url_for('main') }}" method="post">
	  <div>
	    <label for="email">Enter your email: </label>
	    <input type="email" name="email" id="email" required>
	  </div>
	  <div>
	    <label for="pass">Enter your password: </label>
	    <input type="text" name="pass" id="pass" required>
	  </div>
	  <div class="form-example">
	    <input type="submit" value="Submit">
	  </div>
	</form>

    <a href="{{ url_for('index') }}">Homepage...</a>

    <a href="{{ url_for('register') }}">Register...</a>
{% endblock %}
