{% extends "layout.html" %}

{% block heading %}
    ReadBooks
    <h2>Hello {{ session['name'] }}, welcome to ReadBooks!</h2>
{% endblock %}

{% block body %}

<form action="{{ url_for('main') }}" method="post" role="search" accesskey="Enter">
    <div class="">
        <input type="search" id="book-search" name="searchform"
               placeholder="Enter ISBN, title or author"
               aria-label="Search through site content">
        <button>Search</button>
    </div>
</form>

<ul>
    {% for book in books %}
        <li> 
            <a href="{{ url_for('book', book_id=book.id) }}"> 
                {{ book.title }} by {{ book.author }}
            </a>                
        </li>
    {% endfor %}
</ul>
<p>
    Take a look at a <a href="{{ url_for('books') }}">list</a> of 5000 books or use the search engine. 
</p>


{% endblock %}
