body {
  margin: 0px;
  background-color: black;
  font-family: Helvetica Neue, Helvetica;
  color: white; }
  body a {
    color: orange;
    text-decoration: none; }
    body a:hover {
      color: yellow; }
  body button {
    color: orange;
    background: black;
    text-decoration: none; }
    body button:hover {
      color: yellow; }
  body #content {
    background: url("/media/marko/Storage1/Courses Online/PYTHON/HarvardX: CS50W/project0/Static/Pictures/") no-repeat top right;
    height: 1398px;
    width: 1600px;
    margin: 0 0 0 auto;
    padding-left: 50px; }
    body #content th {
      font-weight: normal;
      padding: 25px 0 0;
      margin: 0px;
      font-size: 130px; }
    body #content td {
      font-size: 17px;
      margin: 5px 0 10px 10px;
      padding: 0px; }
      @media (max-width: 500px) { 
        body #content td
          {
            color: red;
        }
      }
header th {
  width: 10px;}